<h1>Edit <%= @user.first_name %></h1>

<%= form_for @user, url: {action: "update"}, html: {class: "update_user_form"} do |f| %>
<p>
  <%= f.label :first_name, "First Name:" %><br>
  <%= f.text_field :first_name %>
</p>
<p>
  <%= f.label :last_name, "Last Name:" %><br>
  <%= f.text_field :last_name %>
</p>
<p>
  <%= f.label :years_of_experience, "Years of Experience"%><br>
  <%= f.text_field :years_of_experience %>
</p>
<p>
  <%= f.label :email, "Email:" %><br>
  <%= f.text_field :email %>
</p>

  <%= f.fields_for :skills do |s| %>
  <p>
    <%= s.label :name, "Skill:" %><br>
    <%= s.text_field :name %>
    <%= s.check_box :_destroy %>
    <%= s.label :_destroy, "Remove" %><br>
    <%= s.radio_button(:level, "Beginner") %>
    <%= s.label(:level_beginner, "Beginner") %><br>
    <%= s.radio_button(:level, "Intermediate") %>
    <%= s.label(:level_intermediate, "Intermediate") %><br>
    <%= s.radio_button(:level, "Advanced") %>
    <%= s.label(:level_advanced, "Advanced") %><br>
    
  </p>
  <% end %>
  <p>
    <%= f.submit %>
  </p>
<% end %>
