<h1>Home Page</h1>
<p>Find me in app/views/pages/home.html.erb</p>
<% @users.each do |u| %>
  <p>
    <span><%= u.first_name %></span>
    <span><%= u.last_name %></span>
    <span><%= u.email %></span>
    <span class="link_button edit_button"><%= link_to "Edit", edit_user_path(u) %></span>
    <span class="link_button delete_button"><%= link_to "Delete", u, method: :delete  %></span>
  </p>
<% end %>
<%= button_to "New User", class: "new_button" %>
