<!DOCTYPE html>
<html>
<head>
  <title>TryingOutRails</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <ul class="nav">
      <li class="navbar-left"><%= link_to "Home", :action => "home", :controller => "pages", class: "navbar-link" %></li>
      <li class="navbar-left"><%= link_to "Users", users_path, class: "navbar-link" %></li>
      <li class="navbar-left"><%= link_to "Skills", :action => "show_skills", :controller => "skills" %></li>
      <li class="navbar-left"><%= link_to "About", :action => "about", :controller => "pages", :class => "navbar-link" %></li>
      <li class="navbar-left"><%= link_to "Contact", :action => "contact", :controller => "pages" %></li>
    </ul>
  </div><!-- container -->
</div><!-- navbar -->
<div class="container">
<%= yield %>
</div><!--container-->
</body>
</html>
